VITE_BACKEND_URL=http://localhost:3007/api
VITE_WEB_URL=http://localhost:3007

# for production
# VITE_BACKEND_URL=http://api.marisail.com/api
# VITE_WEB_URL=http://api.marisail.com

VITE_STRIPE_PUBLISHABLE_KEY=
# Auth0 Configuration
VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_AUDIENCE=
 
# PayPal Configuration
VITE_PAYPAL_CLIENT_ID=
 
VITE_NODE_ENV=