# Database Information
# Use this file to configure your database connection in the backend
DB_TYPE=mysql             # Database type: mysql, postgres, etc.
DB_HOST=    # Database host
DB_PORT=3306              # Database port
DB_NAME=          # Name of the database
DB_USER=  # Replace with your database user
DB_PASS=  # Replace with your database password


#port to deploy the local backend and change the VITE_BACKEND_URL for localhost
PORT=3007 # 3006 for VPS

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
 
# Auth0 Configuration
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
 
# Site URL
SITE_URL=https://marisail.com
 
# PayPal Configuration
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
 