# Database Information

DB_TYPE=mysql
DB_HOST=37.148.203.193
DB_USER=saildb
DB_PASS=C3B5N6V8
DB_NAME=marisail

#port to deploy the local backend and change the VITE_BACKEND_URL for localhost
PORT=3007 # 3006 for VPS

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_51RH55RQGGwzTiUo97anjtn0JlLfLL7mjRli4VSEqY0EqhKK3ocoqVr5l4XQipeRj8IwqJ8gGNQc0keTPyvpDqlA000GpXbVzgM
STRIPE_WEBHOOK_SECRET=whsec_ME2VfpYIsGkxaQozuUOBWvrXA3teBkyK
 
STRIPE_SECRET_KEY=sk_test_51RH55RQGGwzTiUo97anjtn0JlLfLL7mjRli4VSEqY0EqhKK3ocoqVr5l4XQipeRj8IwqJ8gGNQc0keTPyvpDqlA000GpXbVzgM
STRIPE_WEBHOOK_SECRET=whsec_ME2VfpYIsGkxaQozuUOBWvrXA3teBkyK
# Auth0 Configuration
AUTH0_DOMAIN=marisail.us.auth0.com
AUTH0_AUDIENCE=https://marisail.us.auth0.com/api/v2/
 
# Site URL
SITE_URL=https://marisail.com
 
# PayPal Configuration
 
PAYPAL_CLIENT_ID=AeWwaW1s3ukLuKubxJ68rqo055BJPNe9xeRKYMVS8RfiguA1jpMiVsHJO28TgfrsLJ2SrlJwdVXK9M0a
PAYPAL_CLIENT_SECRET=EOAsd6i5thkDC9Be-1RQy4200YQmObeC8znpFBzVdaxzoOhN1kApL1k2wqiyyFPZIUya9obCUBYE4Bo_
 